.logo1 {
    background: url(sprites.png) 0px 0px;
    width: 100px;
    height: 100px;
}
.logo2 {
    background: url(sprites.png) -100px 0px;
    width: 100px;
    height: 100px;
}
.logo3 {
    background: url(sprites.png) -200px 0px;
    width: 100px;
    height: 100px;
}
.logo4 {
    background: url(sprites.png) -300px 0px;
    width: 100px;
    height: 100px;
}
.logo5 {
    background: url(sprites.png) -400px 0px;
    width: 100px;
    height: 100px;
}
.logo6 {
    background: url(sprites.png) 0px -100px;
    width: 100px;
    height: 100px;
}
.logo7 {
    background: url(sprites.png) -100px -100px;
    width: 100px;
    height: 100px;
}
.logo8 {
    background: url(sprites.png) -200px -100px;
    width: 100px;
    height: 100px;
}
.logo9 {
    background: url(sprites.png) -300px -100px;
    width: 100px;
    height: 100px;
}
.logo10 {
    background: url(sprites.png) -400px -100px;
    width: 100px;
    height: 100px;
}
.logo11 {
    background: url(sprites.png) 0px -200px;
    width: 100px;
    height: 100px;
}
.logo12 {
    background: url(sprites.png) -100px -200px;
    width: 100px;
    height: 100px;
}
.logo13 {
    background: url(sprites.png) -200px -200px;
    width: 100px;
    height: 100px;
}
.logo14 {
    background: url(sprites.png) -300px -200px;
    width: 100px;
    height: 100px;
}
.logo15 {
    background: url(sprites.png) -400px -200px;
    width: 100px;
    height: 100px;
}
.logo16 {
    background: url(sprites.png) 0px -300px;
    width: 100px;
    height: 100px;
}
.logo17 {
    background: url(sprites.png) -100px -300px;
    width: 100px;
    height: 100px;
}
.logo18 {
    background: url(sprites.png) -200px -300px;
    width: 100px;
    height: 100px;
}
.logo19 {
    background: url(sprites.png) -300px -300px;
    width: 100px;
    height: 100px;
}
.logo20 {
    background: url(sprites.png) -400px -300px;
    width: 100px;
    height: 100px;
}
.logo21 {
    background: url(sprites.png) 0px -400px;
    width: 100px;
    height: 100px;
}
.logo22 {
    background: url(sprites.png) -100px -400px;
    width: 100px;
    height: 100px;
}
.logo23 {
    background: url(sprites.png) -200px -400px;
    width: 100px;
    height: 100px;
}
.logo24 {
    background: url(sprites.png) -300px -400px;
    width: 100px;
    height: 100px;
}
.logo25 {
    background: url(sprites.png) -400px -400px;
    width: 100px;
    height: 100px;
}